.ChangingDishes{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
}
.ChangingDishes div{
    margin: 20px auto;
    width: 80%;
}
input{
    margin: 0 auto;
    height: 60px;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
}