button{
    display: block;
    color: white;
    background-color: #40a4c8;
    border: 1px solid white;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    height: 40px;
}

button:hover{
    color: #40a4c8;
    background-color: white;
    border: 1px solid #40a4c8;
    height: 40px;
    padding: 5px 10px;
}