.DishesItem{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
}
img{
    width: 70px;
    height: 50px;
}