.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 100%;
    padding: 20px 0;
}

.OrderItem {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}
.OrderItem span {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #ccc;
    padding: 5px;
}

.margin{
    margin-left: 30px;
}